<!--<h2 *ngIf="userID > 0">User ID: {{userID}}</h2>-->

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav class="sidenav" mode="over">
    <img src="assets/logo.png">
    <p><button mat-button (click)="sidenav.close()" class="close">Close</button></p>
    <p><a mat-button routerLink="/link1" (click)="sidenav.close()">Link 1</a></p>
    <p><a mat-button routerLink="/link2" (click)="sidenav.close()">Link 2</a></p>
    <p><button mat-button (click)="logout()">Logout</button></p>
    <!-- Add more links as needed -->
  </mat-sidenav>

  <mat-sidenav-content>
    <button mat-icon-button *ngIf="userService.isLoggedIn()" (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
