.detail-page {
  padding: 20px 10.5vw;

  h1.title {
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.5);
  }

  h2 {
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    color: rgba(0, 0, 0, 0.5);
  }

  .movie-info {
    display: flex;
    margin-top: 20px;
    padding: 20px;
    border-radius: 8px;

    > img {
      width: 100%;
      height: 100%;
      min-height: 21rem;
      border-radius: 8px;
      flex: 0 0 30%;
    }

    .stars-wrapper {
      flex: 1 0 auto;
    }
    .imdb-button-wrapper {
      margin-top: 1rem;
      width: 4rem;
      height: 3rem;
      a,
      img {
        width: 100%;
        height: 100%;
      }
    }

    .details {
      margin-left: 2rem;
      margin-right: 2rem;

      .action-label {
        font-weight: 400;
        font-size: 20px;
      }

      .tags {
        margin-bottom: 10px;

        mat-chip-list {
          mat-chip {
            margin-right: 5px;
          }
        }
      }

      mat-icon {
        vertical-align: middle;
        margin-right: 2px;
      }

      p {
        margin: 25px 0;
        font-size: 20px;
        line-height: 24px;
        color: #000000;
      }
      p.description {
        margin-top: 1rem;
        margin-bottom: 1rem;
      }
    }
  }

  .trailer {
    margin: 20px 0;
    text-align: center;

    button {
      font-size: 50px;
    }
  }

  .cast {
    margin: 20px 0;

    h2 {
      margin-bottom: 10px;
    }

    table {
      width: 100%;
      border-collapse: collapse;

      th {
        text-align: left;
        padding: 10px 0;
        border-bottom: 1px solid #e0e0e0;
      }

      td {
        padding: 10px 0;
        border-bottom: 1px solid #e0e0e0;
      }
    }
  }

  .similar-movies {
    margin-top: 4rem;
    h2 {
      margin-bottom: 10px;
    }

    .movie-list {
      display: flex;
      justify-content: space-between;

      .movie-item {
        text-align: center;

        img {
          width: 150px;
          height: auto;
          border-radius: 8px;
        }

        p {
          margin: 10px 0 0;
        }
      }
    }
  }
}
