<div class="detail-page">
  <h1 class="title">{{ film?.title }}</h1>

  <div class="movie-info">
    <img src="path-to-avatar-poster.jpg" alt="Avatar Movie Poster" mat-card-image>
    <div class="details">
      <div class="tags">
        <mat-chip-set>
          <mat-chip>Action</mat-chip>
          <mat-chip>Abenteuer</mat-chip>
          <mat-chip>Fantasy</mat-chip>
        </mat-chip-set>
      </div>
      <p><strong>Erschienen am:</strong> {{ film?.filmDetail?.release_date }}</p>
      <p><strong>Film dauert:</strong> {{ getRuntimeAsTimeString(film?.filmDetail?.runtime) }}</p>
      <p class="description">
        <strong>Beschreibung:</strong>
        {{ film?.filmDetail?.overview }}
      </p>
      <p><strong>Regie:</strong> {{ getDirector(film?.filmDetail?.credits?.crew) }}</p>
      <p><strong>Drehbuch:</strong> {{ getScreenplay(film?.filmDetail?.credits?.crew) }}</p>
      <p *ngIf="film?.filmDetail?.adult === false"><span>Für Erwachsene und Kinder geeignet</span></p>
      <p *ngIf="film?.filmDetail?.adult === true"><strong>Nur für Erwachsene geeignet</strong></p>
    </div>
    <div class="stars-wrapper">
      <div class="stars">
        <mat-icon color="warn">star</mat-icon>
        <mat-icon color="warn">star</mat-icon>
        <mat-icon color="warn">star</mat-icon>
        <mat-icon color="warn">star</mat-icon>
        <mat-icon color="warn">star_half</mat-icon>
      </div>
      <div class="imdb-button-wrapper" *ngIf="film?.filmDetail?.imdb_id">
        <a href="https://www.imdb.com/title/{{ film?.filmDetail?.imdb_id }}" target="_blank">
          <img src="assets/imdb-logo.png" alt="IMDB Logo" class="imdb-button">
        </a>
      </div>
    </div>
  </div>

  <div class="trailer">
    <button mat-icon-button color="accent">
      <mat-icon>play_circle_filled</mat-icon>
    </button>
  </div>

  <div class="cast">
    <h2>Besetzung</h2>
    <table>
      <tr>
        <th>Schauspieler</th>
        <th>Rolle</th>
      </tr>
      <tr *ngFor="let castMember of cast">
        <td>{{ castMember.name }}</td>
        <td>{{ castMember.role }}</td>
      </tr>
    </table>
  </div>

  <div class="similar-movies">
    <h2>Ähnliche Filme, die andere User auch mögen</h2>
    <div class="movie-list">
      <div class="movie-item" *ngFor="let movie of similarMovies">
        <img src="{{ movie.img }}" alt="{{ movie.title }}" mat-card-image>
        <p>{{ movie.title }}</p>
      </div>
    </div>
  </div>
</div>
