<div class="detail-page">
  <h1 class="title">{{ film?.title }}</h1>

  <div class="movie-info">
    <img src="path-to-avatar-poster.jpg" alt="Avatar Movie Poster" mat-card-image src="{{ film?.filmDetail?.image_url_original }}">
    <div class="details">
      <div class="tags">
        <mat-chip-set>
          <mat-chip *ngFor="let genre of film?.filmDetail?.genres">{{ genre?.name }}</mat-chip>
        </mat-chip-set>
      </div>
      <p><strong>Erschienen am:</strong> {{ film?.filmDetail?.release_date }}</p>
      <p><strong>Film dauert:</strong> {{ getRuntimeAsTimeString(film?.filmDetail?.runtime) }}</p>
      <p class="description">
        <strong>Beschreibung:</strong>
        {{ film?.filmDetail?.overview }}
      </p>
      <p><strong>Regie:</strong> {{ getDirector(film?.filmDetail?.credits?.crew) }}</p>
      <p><strong>Drehbuch:</strong> {{ getScreenplay(film?.filmDetail?.credits?.crew) }}</p>
      <p *ngIf="film?.filmDetail?.adult === false"><span>Für Erwachsene und Kinder geeignet</span></p>
      <p *ngIf="film?.filmDetail?.adult === true"><strong>Nur für Erwachsene geeignet</strong></p>
    </div>
    <div class="stars-wrapper">
      <div class="stars">
        <mat-icon color="warn" *ngFor="let item of createRange(getRoundedRating(film?.bewertung)); let currentElementIndex=index">
          {{ isRatingStarHalf(getRoundedRating(film?.bewertung), currentElementIndex+1) ? 'star_half' : 'star' }}
        </mat-icon>
      </div>
      <div class="imdb-button-wrapper" *ngIf="film?.filmDetail?.imdb_id">
        <a href="https://www.imdb.com/title/{{ film?.filmDetail?.imdb_id }}" target="_blank">
          <img src="assets/imdb-logo.png" alt="IMDB Logo" class="imdb-button">
        </a>
      </div>
    </div>
  </div>

  <div class="trailer" *ngIf="film?.filmDetail?.video !== undefined">
    <iframe width="560" height="315" [src]="getSafeUrlForVideo(film?.filmDetail?.video?.key)" allowfullscreen></iframe>
  </div>

  <div class="cast">
    <h2>Besetzung <small>- Top 10</small></h2>
    <table>
      <tr>
        <th>Schauspieler</th>
        <th>Rolle</th>
      </tr>
      <tr *ngFor="let castMember of casts">
        <td>{{ castMember.name }}</td>
        <td>{{ castMember.character }}</td>
      </tr>
    </table>
  </div>

  <div class="stream-list" *ngIf="providers">
    <h2>Verfügbar auf</h2>
    <div class="stream-list__flex">
      <div class="stream-list__col">
        <h3>kaufen</h3>
        <table>
          <tr *ngFor="let provider of providers?.buy">
            <td>{{ provider?.provider_name }}</td>
            <td></td>
          </tr>
        </table>
      </div>
      <div class="stream-list__col">
        <h3>ausleihen</h3>
        <table>
          <tr *ngFor="let provider of providers?.rent">
            <td>{{ provider?.provider_name }}</td>
            <td></td>
          </tr>
        </table>
      </div>
      <div class="stream-list__col">
        <h3>Flatrate</h3>
        <table>
          <tr *ngFor="let provider of providers?.flatrate">
            <td>{{ provider?.provider_name }}</td>
            <td></td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="similar-movies">
    <h2>Ähnliche Filme, die andere User auch mögen</h2>
    <div class="movie-list">
      <div class="movie-item" *ngFor="let movie of similarMovies">
        <img src="{{ movie.img }}" alt="{{ movie.title }}" mat-card-image>
        <p>{{ movie.title }}</p>
      </div>
    </div>
  </div>
</div>
