<div class="movie-list">
  <div class="search-bar">
    <input type="text" placeholder="Search" [(ngModel)]="searchString" (ngModelChange)="applyFilter()" />
  </div>
  <h2 *ngIf="searchString.length == 0">What movies do you like?</h2>
  <h2 *ngIf="searchString.length > 0">You are looking for "{{ searchString }}"?</h2>
  <div class="movie-item" *ngFor="let film of filteredFilms">
    <img src="assets/avatar.jpg" alt="Avatar" />
    <div class="movie-details">
      <h3>{{ film.title }}</h3>
      <p>{{ film.erscheinungsjahr }} &middot; 1h 30min &middot; {{ film.bewertung }}</p>
    </div>
    <div class="movie-actions">
      <button>more details</button>
      <button>add to watchlist</button>
    </div>
    <div class="movie-feedback">
      <mat-icon>thumb_up</mat-icon>
      <mat-icon>thumb_down</mat-icon>
      <!--<i class="thumbs-down"></i>
      <i class="thumbs-up"></i>-->
    </div>
  </div>
</div>

<!--TODO: Add pagination-->
